<div class="row-fluid">
  <form action="#">
    <fieldset>
      {{view Em.TextField action="search" placeholder="Type something..."}}
      <span class="help-block">Example block-level help text here.</span>
    </fieldset>
  </form>

  <table class="table table-condensed table-striped">
    <tr>
      <th>id</th>
      <th>bt</th>
      <th>name</th>
      <th>props</th>
    </tr>
    {{#each content}}
      <tr>
        <td>{{#linkTo "object" this}}{{id}}{{/linkTo}}</td>
        <td>{{bt}}</td>
        <td>{{name}}</td>
        <td>{{summary this}}</td>
      </tr>
    {{/each}}
  </table>
</div>
